.logo {
  width: 70%; //100%;
  height: 305px; //425px;
  margin: auto;
}
.about-content {
  background-color: black;
  color: white;
  font-weight: 300;
  h2 {
    padding-bottom: 1.25em;
    letter-spacing: 0.05em;
    margin: 0;
    font-family: $my-font;
  }
  p {
    padding: 0 0 0.938em 0;
    margin: 0;
    line-height: 1.55em;
    font-size: 1.25em;
  }
}
.menu {
  background-color: black;
  padding-bottom: 6.25em;
}
.menu-picture {
  height: 420px;
}
.menu-button {
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: white;
  margin: 25px auto;
  width: 230px;
  padding: 0.625em 2.5em;
  border: 2px solid white;
  border-radius: 50px;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.menu-button:hover {
  background-color: white;
  color: black;
}
.news {
  h2 {
    padding-bottom: 1.25em;
    letter-spacing: 0.05em;
    margin: 0;
    font-family: $my-font;
  }
}
.news-content-left {
  font-weight: 300;
  h3 {
    margin: 0;
    font-size: 2em;
    padding: 0 5% 0.5em 5%;
    font-weight: 300;
  }
  .news-date {
    padding: 10px 5% 20px 5%;
    font-size: 1em;
    color: lightcoral;
    text-align: left;
  }
  .news-detail {
    font-size: 0.875em;
    line-height: 1.8em;
    padding: 0 5%;
    text-align: left;
  }
}
.news-content {
  margin: 0 150px;
}
.news-content-right img {
  border-radius: 3px;
}
.news-picture {
  height: 350px;
  width: 100%;
  border-radius: 3px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}
.opening-hours {
  margin: 0 120px;
  font-size: 1.125em;
  h3 {
    margin: 0;
    font-size: 1.6em;
    padding: 0 5% 0.5em 5%;
    font-weight: 300;
  }
  .opening-header {
    font-weight: 300;
  }
  .opening-detail {
    line-height: 1.875em;
    padding: 0 5%;
    text-align: left;
  }
  .opening-subheader {
    color: lightcoral;
    text-align: left;
    padding: 10px 5% 5px 5%;
  }
}
.reservation {
  margin: 0 120px;
  font-size: 1.125em;
  font-weight: 300;
  h3 {
    margin: 0;
    font-size: 1.6em;
    padding: 0 5% 0.5em 5%;
    font-weight: 300;
  }
  .reservation-detail {
    line-height: 1.875em;
    padding: 0 5%;
    text-align: left;
    p {
      font-size: 0.875em;
      padding-top: 3.125em;
    }
    span {
      color: lightcoral;
    }
  }
}
