<div class="container-fluid no-pad">

  <div class="row banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= asset_path('papa.jpg') %>')">
    <div class="banner-content">
      <h2>FUYA</h2>
      <p>Running Sushi and more...</p>
    </div>
  </div>
  <!-- About us -->
  <div class="about-content padded">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
        <h2 class="upcase">Über uns</h2>
        <p>
          Bei uns im Fuya Waldshut verwöhnen wir Sie mit authentischen chinesischen und japanischen Spezialitäten. Schauen Sie unseren Meisterköchen am Wok über die Schulter, seien Sie hautnah dabei, wenn die handgezogenen Nudeln, die Ramen, kunstvoll zubereitet werden und genießen Sie unsere Sushi-Spezialitäten auch am Laufband!
        </p>

        <p>
          Direkt am Bahnhof Waldshut begrüßen wir Sie mit einem reichhaltigen Angebot an frischen Speisen und exzellentem Service. Genießen Sie in eleganter Atmosphäre oder feiern Sie mit bis zu 140 Gästen.
        </p>
      </div>
    </div>
  </div>

  <div class="menu pos-relative">
    <div class="row">
      <div class="lunch-menu">
        <div class="col-xs-12 col-sm-6 col-m-6 col-l-6 text-center no-pad">
          <%= image_tag 'fuya1.jpg', class: "bg-picture full-picture menu-picture" %>
          <div class="menu-button">
            Hello
          </div>
        </div>
      </div>
      <div class="dinner-menu">
        <div class="col-xs-12 col-sm-6 col-m-6 col-l-6 text-center no-pad">
          <%= image_tag 'fuya2.jpg', class: "bg-picture full-picture menu-picture" %>
          <div class="menu-button">
            Hello
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <div class="about-content">
        <h3>Über uns</h3>

        <h1>Running Sushi</h1>

        <p>All you can eat vom Fließband!</p>

        <p>
          Neben vielfältigen Sushi-Spezialitäten erwartet Sie auf unserem Laufband-Buffet eine umfangreiche Auswahl an warmen und kalten Köstlichkeiten: Von Ente über Nudeln bis hin zu hausgemachten Desserts fährt alles in vielen kleinen Schlemmerportionen direkt an Ihrem Tisch vorbei. Sie brauchen nur zuzugreifen!

          Von Montag bis Sonntag (Dienstag Ruhetag) ab 18 Uhr für nur 21 EUR pro Person. Für Kinder unter sechs Jahren nur 8,- EUR und unter zwölf Jahren nur 12,80 EUR.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <h1>Sushi</h1>

      <p>
        Von japanischen Kochprofis frisch zubereitet genießen Sie bei uns eine Vielfalt feinster Sushi-Kreationen. Probieren Sie unsere klassischen Maki- oder Futomaki-Sushi, dünne Hosomaki auch mal mit Gemüse, edle Nigiri oder unsere feinsten Sashimi.
      </p>

      <p>
        Alle unsere Spezialitäten erhalten Sie à la carte und ab 18 Uhr zusätzlich auch am Laufband-Buffet.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <h1>Asia NEINNEINENIENNONONONONONO WE DONT SERVE RAMEN</h1>

      <p>
        Erleben Sie außergewöhnliche japanische und chinesische Köstlichkeiten. Ramen z.B. gehört in der japanischen Esskultur zu den wichtigsten Gerichten.
      </p>

      <p>
        Unsere Meisterköchen ziehen vor Ihren Augen diese asiatische Nudelspezialität von Hand und servieren Ihnen diese in vielfältigen Suppenvariationen. Sie werden begeistert sein!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 text-center">
      <h3>Öffnungszeiten</h1>
      <p>zeit</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 text-center">
      <h3>An Feiertagen</h3>
      <p>chemi</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center" id="menu">
      <h1>MENU</h1>

      <p>
        chemi maybe 2 tables
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center" id="reservation">
      <h1>Reservierung</h1>

      <p>
        Möchten Sie gerne einen Tisch an unserem Laufband?
        Rufen Sie uns unter +49 (0)7751 8962680 zwischen 11:30 - 14:30 und 17:30 - 22:30
        an um einen Tisch zu reservieren.
      </p>
      <p>
        Reservierungen sind nur telefonisch möglich! Reservierungen per E-Mail können leider nicht berücksichtigt werden.
        Hinweis zur Tischreservierung: Rufen Sie uns an, wenn Sie sich verspäten! Die Reservierung verfällt andernfalls nach 15 Minuten.
      </p>

    </div>
  </div>



</div>
