/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 6em;
  padding-bottom: 6em;
}
.padded-2 {
  padding-top: 7.5em;
  padding-bottom: 7.5em;
}
.no-pad {
  padding: 0;
}
.space-right {
  padding-right: 30px;
}
.space-bot-1 {
  padding-bottom: 4em;
}
// Margins
.no-marg-bot {
  margin-bottom: 0;
}

// Backgrounds
.bg-picture {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-black {
  background: black;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.full-picture {
  width: 100%;
}
.upcase {
  text-transform: uppercase;
}
// Positions
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
